{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %}<h3>Technical Club - FLUX is the official Technical club of
    S.A.T.I. Vidisha previously known as Innovation club - FLUX.
    Our club in a nutshell makes cool projects, organises
    workshops/events while doing a lot of other fun activities. We
    mainly focus on latest and future demanding technologies like
    Internet of Things, Machine Learning, Artificial Intelligence,
    and many more. </h3>{% endblock body %}