{% extends 'base.html' %}
{% block title %}contact{% endblock title %}
{% block body %}
<div class = "container-fluid mx-0">
<img src="static/contact.jpg"class = "d-block w-100mx"alt="...." >
<h3>contact:-
    for any quaries,regarding ragistration please feel free to
    contact us at:- <li>flux.club@satiengg.in</li>
    9340204054,9755337145,9770277600
</h3><div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="int" class="form-control" placeholder="number" aria-label="number">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="email" aria-label="email">
    </div>
  </div>
</div>

 {% endblock body %}