{% extends 'base.html' %}
{% block title %} recruitment 
{% endblock title %}
{% block body %} 
<div class = "container-fluid my-2 px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/f.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>flux.club</h5>
              <p>Specialized in impossible things</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/r.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>flux.club</h5>
              <p>Technical Club - FLUX is the official Technical club of S.A.T.I. Vidisha previously known as Innovation club - FLUX.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/h.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Here we are team FLUX</h5>
              <p>A robotics club dreaming high, passionate working on impossible-seeming works.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      




      {% comment %} thumblinb {% endcomment %}
      <div class="container my-3 px-3">
       <h1 class="my-2">what we have do-
                       There is saying that "pictures are worth thousand words".
                       we can't mention everything so get a glimps of few
       </h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src = "static/n.jpeg"class = "d-block w-100"alt=".."  

            <div class="card-body">
              <p class="card-text">3d printed arm</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src = "static/q.jpeg"class = "d-block w-100"alt=".."

            <div class="card-body">
              <p class="card-text">wheeled robotic vehicle</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src = "static/i.jpeg"class = "d-block w-100"alt=".."
            <div class="card-body">
              <p class="card-text">collage coe lab automation</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src = "static/w.jpeg"class = "d-block w-100"alt=".."
svg
            <div class="card-body">
              <p class="card-text">ouadcopter drone</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src = "static/m'.jpeg"class = "d-block w-100"alt=".."
            <div class="card-body">
              <p class="card-text">maze solver robot</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src = "static/p.jpeg"class = "d-block w-100"alt=".."

            <div class="card-body">
              <p class="card-text">curtain opening device</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"> </small>
              </div>
            </div>
          </div>
          <h2 class ="text=centre"> workshop/event:-

             1. Home Automation Workshop
             2.TechnoPhilia
             3. Soccermania and many more 
            </h2>
            <dl class="row">
                <dt class="col-sm-3"><h1>Event Description</h1> </dt>
                <dd class="col-sm-9">Technical Club Flux is going to recruit members for the
                    academic year 2022-23. And we invite all the students who are
                    interested in working on technical, robotics and innovative
                    projects.
                    
                    There are three processes in which this recruitment will be
                    conducted. The four processes are explained below in detail. </dd>
              
                <dt class="col-sm-5"><h1>Recruitmenet process:-</h1></dt>
                <dd class="col-sm-9">
                  <p></p>
                  <p></p>
                </dd>
              
                <dt class="col-sm-4"><h1> 01.Register</h1></dt>
                <dd class="col-sm-9">Do register yourself by filling the google form
                    <h1>https://forms.gle/b4damb8ZyLTwm9Pr9</h1>
                    Last date of registration is 8 October 2022.
                    Fill the registration form carefully, since next round tasks will
                    be assigned on that basis. </dd>
              
                <dt class="col-sm-3 text-truncate"><h1>02 get your task done before deadline</h1></dt>
                <dd class="col-sm-9">After filling the registration form, the tasks will be assigned via
                    mail. Before deadline, submit the tasks. The last date of
                    submission will also be assigned along with task</dd>
              
                <dt class="col-sm-8"><h1>03 personal interview and task submission</h1></dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4"></dt>
                    <dd class="col-sm-8">On the basis of task submission, shortlisted candidates will
                        be called for Personal Interview. The date of personal
                        interview will be shared via mail. 
                    </dd>
                  </dl>
                </dd>
              </dl>
              <h1>conclusion</h1></dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4"></dt>
                    <dd class="col-sm-8">Based on the performance of candidates in process 1, process
                        2, and process 3, a list having the names of the selected
                        candidates will be issued. </dd>
                  </dl>
                </dd>
              </dl>
        
            
      </div>
{% endblock body %}
